.Promesse{
    background-color: #303438;
}

.Promesse p {
    width: 65%;
    margin: 0 auto;
    font-size: 25px;
}

.iconPromesse{
    color: white;
    font-size: 60px;
}

.brun{
    color: rgb(160, 131, 97);
}

.maison{
    color: rgb(224, 191, 180);
}

@media screen and (min-width:320px) and (max-width:599px) {
    .iconPromesse{
        font-size: 40px;
    }

    .Promesse p{
        width: 90%;
    }

}

.animOver{
    transition: 1500ms;
    color: rgb(160, 131, 97);
}

.animOut{
    transition: 1500ms;
    color: white;
}

.animCamionOver{
    position: relative;
    animation: camionOver 2s forwards;
}

.animCamionOut{
    position: relative;
    animation: camionOut 2s forwards;
}

@keyframes camionOver {
    0%      {left:0px}
    50%     {left:100px}
    100%    {left: 200px}
}

@keyframes camionOut {
    0%      {right:0px}
    50%     {right: 100px}
    100%    {right:200px}
}
