.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343A40;
    color: white
}
.listeIcon{
    display: flex;
    
}
.icon{
    text-decoration: none;
    color:  #099EAD;
    margin: 50px}