.calendarSection{
    background-color: #343A40;
    text-align: center;
}
.titleDate{
    color: #099EAD;
    text-align: center;
    padding: 10px
}
.divCalendar{
    margin-left:200px ;
}
.paraDateDelivery{
    color: white;
    padding: 20px
}
.buttonDeliveryDate{
    background-color:#099EAD ;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border:none;
    margin: 20px
}