
.Temoignages{
    background-color: #343A40;
    display: flex;
    text-align: center;
    
}
h2{
    color: #099EAD;
}
.paraTemoignage{
    padding: 30px 15px;
    color: white;
}
.dNone{
    display: none
}
.desplayBlock{
    display: block;
}

/* @media screen and (max-width: 500px){
    .Temoignages{
        text-align: center;
    }
} */